
  #sLLogo {
     position:absolute; 
     z-index:3; 
     right:0; 
     width: 200px;
     bottom:10px;  
     padding-right: 50px; 
    }
  
    .mapbox-improve-map{
      visibility: hidden;
    }
    .map-overlay {
      font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      position: absolute;
      width: 25%;
      top: 0;
      left: 0;
      padding: 10px;
      }
       
      .map-overlay .map-overlay-inner {
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 10px;
      }
       
      .map-overlay h2 {
      line-height: 24px;
      display: block;
      margin: 0 0 10px;
      }
       
      .map-overlay .legend .bar {
      height: 10px;
      width: 100%;
      background: linear-gradient(to right, #fca107, #7f3121);
      }
       
      .map-overlay input {
      background-color: transparent;
      display: inline-block;
      width: 100%;
      position: relative;
      margin: 0;
      cursor: ew-resize;
      }

      .mapboxgl-popup-close-button {
        display: none;
      }
      
      .mapboxgl-popup {
        padding-bottom: 50px;
      }
      
      .mapboxgl-popup-content {
        font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
        padding: 0;
        width: 250px;
      }
      
      .mapboxgl-popup-content-wrapper {
        padding: 1%;
      }
      
      .mapboxgl-popup-content h3 {
        background: #fca107;
        color: #fff;
        margin: 0;
        display: block;
        padding: 10px;
        border-radius: 3px 3px 0 0;
        font-weight: 700;
        margin-top: -15px;
      }
      
      .mapboxgl-popup-content h4 {
        margin: 0;
        display: block;
        padding: 10px;
        font-weight: 400;
      }
      
      .mapboxgl-popup-content div {
        padding: 10px;
      }
      
      .mapboxgl-container .leaflet-marker-icon {
        cursor: pointer;
      }
      
      .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
        margin-top: 15px;
      }
      
      .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
        border-bottom-color: #fca107;
      }

      #menu a {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
        }
         
        #menu  {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        }
         
        #menu a:last-child {
        border: none;
        }
         
        #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
        }
         
        #menu a.active {
        background-color: #3887be;
        color: #ffffff;
        }
         
        #menu a.active:hover {
        background: #3074a4;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 50px;
          height: 50px;
          border-radius: 50%; 
          cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;
        }